body {
    font-family: sans-serif;
}

.validation {
    display: none;
}

#postamble {
    margin: auto;
    max-width: 60em;
    text-align: center;
}

.title {
    padding: 48px;
}

#content, .outline-2 {
    padding: 16px;
}


img {
    max-width: 60em;
}

table {
    margin: auto;
    margin: 72px auto;
}

body {
    padding-bottom: 32px;
}


a:link {
    color: #008B8B;
}

a:visited {
    color: #9790C8;
}

/* Alternative colors
a:link {
    color: #FF3746;
}


a:visited {
    color: #FDB913;
}
*/

@media (prefers-color-scheme: dark) {
    body {
	background-color: black;
    }

    h1, h2, h3, p, ol, table {
	color: white;
    }

}
